<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="FastAPIHttpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\inetpub\wwwroot\GestionAutos\.venv\Scripts\python.exe"
            arguments="-m uvicorn --port %HTTP_PLATFORM_PORT% main:app"
            stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\GestionAutos\python.log">
        </httpPlatform>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
